html,
body,
.container {
	width: 100%;
	height: 100%;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.center {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (orientation: portrait) and (min-width: 533px) and (min-height: 533px) {
	body {
		font-size: 3vw;
	}
}

@media screen and (orientation: landscape) and (min-width: 533px) and (min-height: 533px) {
	body {
		font-size: 3vh;
	}
}
